@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

.row {
  width: 100%;  
  max-width: 1500px;
  margin: 0 auto;
  padding: 32px;
}

a {
  text-decoration: none;
  color: #000;
}

/* nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(36, 62, 99, var(--tw-text-opacity));
  --tw-text-opacity: 1;
  
}

.nav__links {
  display: flex;
  align-items: center;
}
.nav__link {
  margin: 0 24px;
  padding: 0 0 4px;
  font-weight: 600;
  color: rgba(36, 62, 99, var(--tw-text-opacity));
  --tw-text-opacity: 1;
}

img {
  width: 40px;
  margin: 0 12px 0 0;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(36, 62, 99, var(--tw-text-opacity));
  --tw-text-opacity: 1;
}

.NZHsK {
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    border-bottom-width: 0px;
}

/* 
-webkit-text-size-adjust: 100%;
tab-size: 4;
line-height: inherit;
font-family: Inter, system-ui;
--tw-text-opacity: 1;
color: inherit;
letter-spacing: 0.025em;
font-weight: 900;
font-size: 1.5rem !important;
box-sizing: border-box;
border: 0 solid #e5e7eb;
border-style: solid;
display: block;
vertical-align: middle;
max-width: 100%;
height: auto;
width: 2.5rem;
margin-right: 0.75rem; */
