* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  line-height: 1.25em;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}
.container {
  min-height: 100vh;
  padding: 32px;
}

.purple {
  color: rgb(100, 21, 255);
}

/* nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(36, 62, 99, var(--tw-text-opacity));
  --tw-text-opacity: 1;
}

.nav__links {
  display: flex;
  align-items: center;
}
.nav__link {
  margin: 0 24px;
  padding: 0 0 4px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(36, 62, 99, var(--tw-text-opacity));
  --tw-text-opacity: 1;
}
.login-tag {
  margin-left: 48px;
}

.logo__img {
  width: 40px;
  margin: 0 12px 0 0;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(36, 62, 99, var(--tw-text-opacity));
  --tw-text-opacity: 1;
}

.btn {
  padding: 12px 32px;
  border-radius: 9999px;
  background-color: rgb(100, 21, 255);
  color: rgb(247, 250, 252);
  border-bottom-width: 0px;
  margin-left: 0;
  margin-right: 0;
}

/* two column section/landing page */

.two__column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.column-one {
  width: 40%;
  max-width: none;
  text-align: left;
}
.column-two {
  width: 60%;
  display: flex;
  max-width: none;
}
.landing-page__img {
  width: 100%;
  justify-content: flex-end;
}

.trusted-customer__logos {
  width: 100%;
  margin-top: 16px;
  padding-right: 128px;
}

.landing-page__title {
  text-align: left;
  border: 0 solid #e5e7eb;
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  color: rgb(36, 62, 99);
}

.landing-page__para {
  color: rgb(36, 62, 99);
  text-align: left;
  border: 0 solid #e5e7eb;
  margin: 32px 0;
  font-size: 18px;
}
.input__wrapper {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  position: relative;
  max-width: 28rem;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}
.get-started__input {
  border: 0 solid #e5e7eb;
  font-size: 16px;
  margin: 0;
  border-radius: 9999px;
  border-width: 2px;
  width: 100%;
  font-weight: 500;
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
}
.get-started__input::placeholder {
  font: inherit;
  font-weight: 500;
  color: rgb(160, 174, 192);
}

.btn__get-started {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  font-size: 100%;
  cursor: pointer;
  right: 0px;
  top: 0px;
  bottom: 0px;
  color: rgb(247, 250, 252);
  font-weight: 700;
  margin: 8px 8px 8px 0;
  border-radius: 9999px;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 160px;
  line-height: 1;
  background-color: rgb(100, 21, 255);
}
.trusted--customer__wrapper {
  margin-top: 80px;
}
.trusted-customer__para {
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: rgb(160, 174, 192);
}
.trusted-customer__logos {
  color: rgba(36, 62, 99);
  text-align: left;
  display: block;
  max-width: 100%;
  margin-top: 16px;
  width: 100%;
  opacity: 0.5;
  padding-right: 128px;
}

/* Features section */

.feature__three-column {
  color: rgb(36, 62, 99);
  display: flex;
  flex-flow: column wrap;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.features__sub-title {
  color: #243e63;
  padding-top: 10px;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.feature__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(100, 21, 255);
  margin: 0 auto;
}
.feature__title--container {
  text-align: center;
  width: 100%;
  margin: 0% auto;
}

.features__para {
  width: 576px;
  font-size: 18px;
  margin-top: 16px;
  text-align: center;
  font-weight: 600;
  color: #7c8ba1;
  line-height: 1.65em;
}

.feature__box--wrapper {
  display: flex;
  color: rga(36, 62, 99);
  width: calc(100 / 3);
  max-width: 24rem;
}

.img__container {
  border: solid rgba(0, 0, 0, 0.212);
  border-width: 1px;
  border-radius: 9999px;
  padding: 1.25rem;
  height: 66px;
}

.feature__box--title {
  margin-top: 1rem;
  letter-spacing: 0.025em;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}
.feature__box--para {
  margin-top: 16px;
  font-weight: 600;
  line-height: 1.65em;
  color: #7c8ba1;
}

.text__container {
  color: rgb(36, 62, 99);
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.feature__box--wrapper {
  color: rgb(36, 62, 99);
  display: flex;
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0.5rem;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
}

.feature__break {
  margin-top: 2.5rem;
  width: 100%;
}

.feature__box--container {
  width: calc(100% / 3);
}

/* quality section */

.quality-work__two-column {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  padding: 96px 0;
}

.quality-work__right-column {
  width: 47%;
}

.right-column__img {
  width: 100%;
  border-radius: 0.25em;
  border: solid 1px #24242428;
  overflow: hidden;
}

.quality-work__left-column {
  align-items: flex-end;
  width: 47%;
}

.quality__title {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0;
}

.quality__subtitle {
  color: rgb(36, 62, 99);
  text-align: left;
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  letter-spacing: 0.025em;
}

.quality__para {
  width: 550px;
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 600;
  margin: 16px 0 32px;
}

.quality__btn {
  font-size: 14px;
  font-weight: 700;
}

/* Steps section */

.steps__two-columns {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  padding: 96px 0;
}
.steps__right-column {
  padding: 32px 0;
  margin: 0 auto 0 64px;
}

.steps__title {
  font-size: 16px;
  letter-spacing: 0.1em;
}

.steps__subtitle {
  font-size: 48px;
  margin-top: 16px;
  font-weight: 900;
  color: #243e63;
}

.steps__list {
  margin-top: 32px;
}

.steps__list--item {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.list__item--text-container {
  margin-left: 24px;
}

.list__item--title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
.list__item--para {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  max-width: 320px;
  color: #718096;
}

.list__item--number {
  font-size: 46px;
  font-weight: 600;
  line-height: 1;
  color: #cbd5e0;
}

.steps__img {
  width: 100%;
  max-width: 540px;
  height: auto;
}

.steps__left-column {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Values section */

.values_columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 96px 0;
  max-width: 1280px;
}

.left__column {
  width: 50%;
  max-width: 576px;
  align-items: flex-start;
}

.right__column {
  width: 640px;
}

.values__img {
  width: 100%;
}

.values__title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

.values__subtitle {
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  color: #243e63;
}

.values__para {
  font-size: 18px;
  font-weight: 700;
  color: #7c8ba1;
  margin-top: 32px;
}

.values__features--container {
  display: flex;
  flex-direction: row;
}

.features__left--container {
  margin: 32px 32px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.features__right--container {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.features-icon-title__conatiner {
  display: flex;
  align-items: center;
}

.feature-icon__dollar {
  margin: 0 auto;
  padding: 8px;
  display: inline-block;
  color: rgb(39, 103, 73);
  background-color: rgb(154, 230, 180);
  border-radius: 9999px;
}

.feature-icon__briefcase {
  margin: 0 auto;
  padding: 8px;
  display: inline-block;
  color: rgb(39, 103, 73);
  background-color: rgb(254, 178, 178);
  border-radius: 9999px;
}

.feather {
  width: 20px;
  height: 20px;
}

.feature-icon__title {
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.features--para {
  font-size: 16px;
  margin-top: 16px;
  color: #718096;
  line-height: 1.625;
  text-align: left;
  height: 78px;
}

.values__btn {
  margin-top: 48px;
  display: inline-block;
}

/* Pricing section */

.pricing__container {
  display: flex;
  flex-direction: column;
  padding: 96px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.pricing__header {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pricing__title {
  font-size: 16;
  font-weight: 700;
  letter-spacing: 2px;
}

.pricing__subtitle {
  font-size: 48px;
  font-weight: 900;
  color: #243e63;
}

.pricing__para {
  font-size: 18px;
  color: #7c8ba1;
  font-weight: 500;
  margin-top: 16px;
  max-width: 576px;
}

.pricing__columns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pricing__column {
  margin: 64px 32px 0 0;
  width: 100%;
  max-width: 384px;
  text-align: center;
  padding: 8px 32px 0;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: relative;
}

.pricing__column--box {
  display: flex;
  flex-direction: column;
}

.highlight {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  background-image: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  height: 8px;
  left: 0px;
  right: 0px;
  top: 0px;
  position: absolute;
}

.top__box {
  line-height: 1.625em;
  padding: 32px 0;
}

.name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.625em;
}

.pricing {
  font-size: 48px;
  font-weight: 700;
  margin: 4px 0;
  line-height: 1.625em;
}

.duration {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.625em;
}

.middle__box {
  padding: 32px;
  margin: 0 -32px;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-color: #e5e7eb63;
}

.price-feature {
  font-size: 16px;
  margin-top: 20px;
}

.price-feature__title {
  font-size: 20px;
  font-weight: 700;
}

.white-text {
  color: #fff;
}

.pricing-middle__column {
  background-color: #6415ff;
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.bottom__box {
  padding: 32px 64px;
}

.btn__buy-now--left {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-radius: 9999px;
  padding: 16px 32px;
  color: #fff;
  transition: all 300ms ease;
  font-weight: 700;
  letter-spacing: 0.8px;
  font-size: 14px;
  cursor: pointer;
}
.btn__buy-now--middle {
  background: #fff;
  border-radius: 9999px;
  padding: 16px 32px;
  color: #6415ff;
  font-weight: 700;
  transition: all 300ms ease;
  letter-spacing: 0.8px;
  font-size: 14px;
  cursor: pointer;
}
.btn__buy-now--right {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  border-radius: 9999px;
  padding: 16px 32px;
  color: #fff;
  font-weight: 700;
  transition: all 300ms ease;
  letter-spacing: 0.8px;
  font-size: 14px;
  cursor: pointer;
}

.btn__buy-now--left:hover,
.btn__buy-now--middle:hover,
.btn__buy-now--right:hover {
  transform: translate(1px, -1px);
  box-shadow: -9px 7px 30px -10px rgba(0, 0, 0, 0.41);
  opacity: 0.8;
}

/* Testimonials section */

.testimonials__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 96px 0;
}

.testimonials__title {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 2px;
}

.testimonials__subtitle {
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  text-align: left;
  color: #243e63;
  letter-spacing: 0.4px;
}

.testimonials__para {
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
  text-align: left;
  color: #7c8ba1;
  line-height: 1.65;
}

.testimonials__column-right {
  width: 50%;
  padding-left: 64px;
}

.testimonials__column-left {
  width: 50%;
}

.testimonial__img-love {
  width: 100%;
  max-width: 640px;
  height: auto;
}

.testimonial__heading {
  font-size: 20px;
  font-weight: 700;
  margin-top: 16px;
  color: #243e63;
}

.testimonial__quote {
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 40px;
  color: rgba(74, 85, 104, 0.866);
  line-height: 1.625;
}

.testimonials__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.fa-star {
  color: rgba(246, 173, 85);
}

.testimonials__footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.testimonial__img {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
}

.name-ocuppation__wrapper {
  text-align: left;
  margin-left: 24px;
}

.testimonial__name {
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
}

.testimonial__occupation {
  font-size: 16px;
  font-weight: 500;
  color: #7c8ba1;
}

.testimonials__footer--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.testimonials__footer-right {
  display: flex;
  flex-direction: row;
}

.scroll-button {
  padding: 16px;
  margin: 0 12px;
  border-radius: 9999px;
  width: 48px;
  height: 48px;
  color: rgba(100, 21, 255);
}

.arrow {
  width: 16px;
  height: 16px;
  align-self: center;
  stroke-width: 3;
}

.btn__divider {
  margin: 12px 0;
  border-right-width: 2px;
}

/* FAQ Section */

.faq__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 96px 0;
}

.faq__title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
.faq__subtitle {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  color: #243e63;
}
.faq__para {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.625;
  text-align: center;
  max-width: 576px;
  color: #7c8ba1;
  margin-top: 16px;
}

.faq__questions {
  width: 100%;
  max-width: 896px;
  margin-top: 48px;
}

.faq__question--wrapper {
  padding: 16px 40px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: rgba(237, 242, 247);
  cursor: pointer;
}

.faq__question--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question__text {
  font-size: 20px;
  font-weight: 600;
}

.faq__question--item svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* Contact Us section */

.contact-us__container {
  margin-bottom: 96px;
}

.contact-us__wrapper {
  padding: 96px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.contact-us__background {
  padding: 96px 0;
  background-color: rgba(100, 21, 255);
  border-radius: 8px;
}

.contact-us__content--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 32px;
  max-width: 1024px;
  margin: 0 auto;
}

.contact-us__text--wrapper {
  width: 50%;
  max-width: 512px;
}

.contact-us__text {
  font-size: 30px;
  color: #f7fafc;
  font-weight: 700;
  text-align: left;
}

.contact-us__btns {
  width: 50%;
  max-width: 512px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.contact-us__btn {
  width: auto;
  font-size: 16px;
  font-weight: 700;
  margin-right: 32px;
  padding: 20px 40px;
  margin-top: 0;
  color: #f7fafc;
  background-color: #f56565;
  border-radius: 9999px;
  letter-spacing: 0.4px;
  transition: all 300ms ease;
  border-width: 1px;
  border-color: transparent;
}

.contact-us__btn2 {
  width: auto;
  font-size: 16px;
  font-weight: 700;
  margin-right: 32px;
  padding: 20px 40px;
  margin-top: 0;
  color: #f7fafc;
  background-color: transparent;
  border-radius: 9999px;
  letter-spacing: 0.4px;
  transition: all 300ms ease;
  border-width: 1px;
  border-color: rgba(160, 174, 192, 0.759);
}

.contact-us__btn2:hover {
  background-color: #fff;
  color: #6415ff;
  border-color: transparent;
}

.contact-us__btn:hover {
  background-color: #f03939;
}
